/* dodgedesign.io - Palette: 
1b262c - Deep Dark Blue 
0f4c75 - Dark Blue
3282b8 - Blue
bbe1fa - Light Blue
*/

body, html {
    margin: 0;
    color: grey;
    font-family: "Muli",sans-serif;
    font-weight: 400;
}

body {
    min-width: 320px;
}

h1 {
    text-transform: uppercase;
    color: #1b262c;
    padding-top: 1.5em;
    text-align: center;
}

h2 {
    color: grey;
}

h3 {
    font-size: 1.3rem;
    color: darkgrey;
}

h4 {
    font-size: .7rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    padding-bottom: 20px;
}

button:focus {
    outline: 0;
}

a {
    color: grey;
}

a:hover {
    color: black;
    text-decoration: none;
}

.row {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.section {
    height: 100vh;
    min-height: 60vw;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 18rem;
}

.btn {
    color: grey;
    background-color: white;
    border: 3px solid grey;
    border-radius: 30px;
    transition: all .4s ease;
}

.btn:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}

a.navbar-brand {
    font-size: 0.4em !important;
}

@media screen and (max-width: 576px){
    .section {
        height: 100vh !important;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p, li {
        font-size: .9em;
    }

    #skills div a {
        margin-top: 50px;
    }

    #skills h2 {
        font-size: 1em;
    }

    #skills li {
        font-size: .7em;
    }
}

    /* ------------- UTILITIES ------------- */

.off-white {
    background: #fafafa;
    border-bottom: #dddddd solid 1px;
    border-top: #dddddd solid 1px;
}

.gut-100 {
    margin-bottom: 100px;
}
.gut-50 {
    margin-bottom: 1.5em;
}

    /* ------------- ANIMATIONS ------------- */

.animate-fadeup {
    animation: fadein 2s, translate-up 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes translate-up {
    0% { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}

    /* ------------- WELCOME - HERO BANNER - TOP SECTION ------------- */

.quick-link {
    width: 10em;
    margin-bottom: 1em;
}

.arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#hello {
    color: black !important;
}

/*---- RESPONSIVENESS ---*/

@media screen and (max-width: 400px){
    a.navbar-brand {
        font-size: 0.3em !important;
    }

    button.navbar-toggler {
        font-size: 0.2em !important;
    }
}

@media screen and (max-height: 768px){
    #welcome, #about, #skills {
        min-height: 900px !important;
    }
    
    #skills {
        font-size: .8em;
    }
}

@media screen and (max-height: 700px){
    #skills {
        min-height: 1000px;
    }
}

@media screen and (max-height: 616px){
    #hello-line {
        font-size: 0.9em;
    }

    #welcome h2 {
        font-size: 1.9em;
    }
}

@media screen and (max-height: 500px){
    h1 {
        font-size: 1.0em;
    }

    h2 {
        font-size: 0.9em !important;
    }

    h3 {
        font-size: 0.8em !important;
    }

    p {
        font-size: 0.7em !important;
    }

    li {
        font-size: 0.6em !important;
    }

    header {
        padding-bottom: 1.0em;
    }

    .quick-link {
        display: none;
    }

    .section {
        min-height: 600px;
    }

    #welcome {
        min-height: auto;
    }

    #about {
        min-height: 550px;
    }
}

     /*------------- PORTFOLIO ------------- */

#portfolio {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#portfolio h1 {
    margin-bottom: 1.5em;
}

#portfolio h5 {
    color: black;
}

#portfolio a {
    color: #0f4c75;
}

#portfolio a:hover {
    color: #bbe1fa;
}

     /*------------- ABOUT ------------- */

@media screen and (max-width: 1024px){
    #about h2 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 400px){
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.0em !important;
    }

    p, li {
        font-size: 0.7em !important;
    }
}

    /* ------------- SKILLS ------------- */

.spaced {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

#skills h1 {
    text-align: center;
}

    /* ------------- NAV / LINKS ------------- */

#mainNavbar {
    font-size: 2.5em;
    font-weight: 500;
    opacity: .9;
    background-color: #bbe1fa;
    width: 100vw;
}

#mainNavbar .nav-link {
    color: #0f4c75;
    text-align: center;
}

#mainNavbar .nav-link:hover {
    color: white;
}

#mainNavbar .navbar-brand {
    color: #0f4c75;
    font-size: 1.2rem !important;
}

#headingGroup span {
    color: #bbe1fa;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#mainNavbar .btn {
    color: #0f4c75;
    background-color: white;
    border: 3px solid #0f4c75;
    border-radius: 30px;
}

#mainNavbar .btn:hover {
    background-color: #0f4c75;
    color: white;
    text-decoration: none;
}

.navbar.scrolled {
    background: rgba(187, 225, 250, 0.8);
    transition: background 500ms;
}

.navbar-light .navbar-toggler {
    border: none;
}

@media screen and (max-width: 768px){
    #mainNavbar .btn {
        display: none;
    }
}

@media screen and (min-width: 768px){
    #contact-nav-link {
        display: none;
    }
}

    /* ------------- END ------------- */
